@import './variables.scss';
@import './mixins.scss';

.custom-block {
  position: relative;
  box-sizing: border-box;

  border: 0.05rem solid;
  border-radius: $md-block-border-radius;
  box-shadow: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;

  margin: $md-block-margin-y 0;
  padding: 50px 12px 12px 12px;

  @include normalizeFirstLast();

  * {
    font-size: $md-container-font-size !important;
  }

  p {
    line-height: 24px;

    // The first child is container title
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  .custom-block-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
    padding: 0.4rem 0 0.4rem 2.6rem;
    margin: 0;

    &::before {
      font-weight: 500;
      font-family: 'Material Design Icons', monospace;
      position: absolute;
      font-size: 1.25rem;
      left: 0.7rem;
      top: 0.4rem;
    }
  }

  @each $type, $props in $md-containers {
    $color: nth($props, 1);
    $icon: nth($props, 2);

    &.#{$type} {
      border-color: $color;

      .custom-block-title {
        background-color: rgba($color, 0.1);

        &::before {
          content: $icon;
          color: $color;
        }
      }
    }
  }
}
