@import './variables';
@import './mixins';

.markdown {
  // Titles
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include normalizeFirstLast();
    margin: 20px 0;

    a.header-anchor::after {
      content: $md-header-anchor-symbol;
      margin-left: 0.2em;
      opacity: 0;
      transition: opacity 0.1s;
    }

    &:hover a.header-anchor::after {
      opacity: 1;
    }
  }

  p,
  ul,
  ol {
    line-height: 1.8em;
    font-size: $md-content-font-size;
    margin: 10px 0;
    @include normalizeFirstLast();
  }

  a:not([class]),
  a.header-anchor {
    text-decoration: none;
    color: $md-link-color-light;
  }

  del {
    background-color: #000;
    transition: background-color 0.1s;
    border-radius: 2px;
    text-decoration: none;

    &:hover,
    &:active {
      background-color: initial;
    }
  }

  blockquote {
    position: relative;
    background-color: rgba($md-blockquote-color, 0.1);
    border-radius: $md-block-border-radius;
    //noinspection CssReplaceWithShorthandSafely
    padding: $md-block-padding;
    //noinspection CssReplaceWithShorthandSafely
    padding-left: $md-block-padding + 6px;
    margin: $md-block-margin-y 0;

    @include normalizeFirstLast();

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: $md-blockquote-color;
      width: 4px;
      height: 100%;
      border-top-left-radius: $md-block-border-radius;
      border-bottom-left-radius: $md-block-border-radius;
    }
  }

  // Images
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .img-alt {
    text-align: center;
    color: grey;
    margin-top: 8px;
  }

  // Lists
  ol,
  ul {
    margin: 0 0 10px 28px;
    font-size: $md-content-font-size;

    li + li {
      margin-top: 8px;
    }
  }

  // Code related
  code,
  pre {
    font-size: $md-code-font-size;
    font-family: 'JetBrains Mono', Consolas, monospace !important;
  }

  code {
    background-color: $md-code-bg-color-light;
    border-radius: $md-block-border-radius;
    padding: 2px 5px;
    line-height: 1.7em;
  }

  // Code Blocks
  div[class*='language-'] {
    position: relative;
    margin: 16px 0;
    border: #bbb 1px solid;
    border-radius: $md-block-border-radius;
    background-color: $md-code-bg-color-light;
    color: #abb2bf;

    pre {
      padding: 20px;
      overflow-x: auto;

      &.vp-code-dark {
        display: none;
      }
    }

    button.copy {
      &::before {
        font-family: 'Material Design Icons', sans-serif;
        content: '\F018F';
        color: rgba(#fff, 0.2);
        transition: color 0.1s;
      }

      &.copied::before {
        content: '\F012C';
      }

      z-index: 2;
      position: absolute;
      top: 8px;
      right: 8px;
      height: 36px;
      width: 36px;
      background-color: transparent;
      border-radius: $md-block-border-radius;
    }

    &:hover {
      button.copy::before {
        color: #f6f6f6;
      }
    }

    code {
      display: block;
      background-color: transparent;
      padding: 0;
      width: fit-content;
      min-width: 100%;
      font-size: unset;

      .diff {
        margin: 0 -20px;
        padding: 0 20px;
        width: calc(100% + 40px);
        display: inline-block;

        &.add {
          background-color: rgba(16, 185, 129, 0.2);

          &::before {
            content: '+';
            color: #10b981;
            position: absolute;
            left: 7px;
          }
        }

        &.remove {
          background-color: rgba(244, 63, 94, 0.2);
          opacity: 0.7;

          &::before {
            content: '-';
            color: #f43f5e;
            position: absolute;
            left: 7px;
          }
        }
      }
    }

    span.lang {
      display: none;
    }
  }

  &.dark {
    a:not([class]),
    a.header-anchor {
      color: $md-link-color-dark;
    }

    code {
      background-color: $md-code-bg-color-dark;
    }

    div[class*='language-'] {
      background-color: $md-code-bg-color-dark;
      border: #444 1px solid;

      pre.vp-code-dark {
        display: block;
      }

      pre.vp-code-light {
        display: none;
      }
    }
  }
}
