$main-font: 'Lato', sans-serif;

$content-max-width: 1200px;

$md-containers: (
  note: #4481ff '\F06FF',
  abstract: #00b0ff '\F014D',
  info: #00b8d4 '\F02FC',
  tip: #00bfa5 '\F0238',
  success: #00c853 '\F012C',
  question: #64dd17 '\F02D7',
  warning: #ff9100 '\F0026',
  failure: #ff5252 '\F0159',
  danger: #ff1744 '\F0028',
  bug: #f50057 '\F00E4',
  example: #7c4dff '\F0668',
  quote: #9e9e9e '\F0757',
);

$md-link-color-light: #1d6db7;
$md-link-color-dark: #88c5ff;
$md-blockquote-color: #3c80c0;
$md-header-anchor-symbol: '#';
$md-content-font-size: 1rem;
$md-container-font-size: 0.9rem;
$md-code-font-size: 0.9em;
$md-code-bg-color-light: #fafafa;
$md-code-bg-color-dark: #1a1a1a;

$md-block-margin-y: 16px;
$md-block-padding: 12px;
$md-block-border-radius: 4px;

// Content
$content-card-title-overlay-bg: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
